

.main_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url('../images/form_bg.jpg') center top no-repeat;
  background-size: 100% 100%;
  padding: 30px 0;
  text-align: center;
  max-width: 650px;
  margin: 0 auto;
}

.main_form h2 {
  color: #01a676;
  font-weight: normal;
  margin-top: 25px;
}

.sertif {
    color: blue;
    font-size: 14px;
    font-style: italic;
}

.blue-border {
  margin: 15px 20px 15px 20px;
  border: 2px solid #0299ff;
  padding: 10px;
  max-width: 700px;
  font-weight: bold;
font-size: 14px;
line-height: 1.4em;
}

.main_form input {
  font-size: 18px;
  padding: 15px;
  border-radius: 3px;
  border: 2px solid #e9d7dc;
  max-width: 300px;
  width: 100%;
}

.main_form label {
  margin-top: 10px;
  font-size: 16px;
}

.main_form button {
  padding: 20px;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  box-shadow: 0 4px 15px 0 rgba(129, 150, 160, 0.45);
  border-radius: 5px;
  background-color: #0299ff;
  background-position: 1.35em .94em;
  background-size: 1em;
  background-repeat: no-repeat;
  transition: all .15s ease-in-out;
  border: none;
  cursor: pointer;
  font-size: 20px;
  margin-top: 20px;
  box-sizing: border-box;
  width: 260px;
  margin-bottom: 40px;
}

.main_form button:hover {
  background-color: #017ACC;
}

.price_red {
  font-weight: bold;
color: red;
}

.timelimit,
.additional {
  font-size: 12px;
  text-align: center;
  padding: 0 20px;
}

.timelimit b {
  display: inline-block;
  background: url(../images/timerIcon2.png) no-repeat;
  margin-top: -2px;
  padding-left: 14px;
  color: red;
  vertical-align: middle;
  background-position-y: 4px;
  font-size: 15px;
}

.blue-link {
  color: #2584f2;
}

.blue-block {
  background: #D1E7FF;
border: 2px solid #0158BA;
box-sizing: border-box;
padding: 30px 14px;
}

.blue-border {
    margin: 15px 20px 15px 20px;
    border: 2px solid #0299ff;
    padding: 10px !important;
    max-width: 700px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.4em;
	text-align: center !important;
}

@media only screen and (max-width: 321px) {
  .main_form input {
    max-width: 270px;
    font-size: 18px;
  }

  .main_form button {
    width: 240px;
  }
}

.main_form h2 {
  color: black;
  font-weight: bold;
} 

.main_form p{padding-bottom:10px !important;}