*{
    box-sizing:border-box
}
::before{
    box-sizing:border-box
}
::after{
    box-sizing:border-box
}
html{
    font-family:sans-serif;
    line-height:1.15;
    -webkit-text-size-adjust:100%;
    -webkit-tap-highlight-color:rgba(0,0,0,0)
}
figure{
    display:block;
    margin:0 0 1rem
}
footer{
    display:block
}
body{
    margin:0;
    font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size:1rem;
    font-weight:400;
    line-height:1.5;
    color:#212529;
    text-align:left;
    background-color:#fff
}
[tabindex="-1"]:focus{
    outline:0!important
}
h1{
    margin-top:0;
    margin-bottom:.5rem
}
h4{
    margin-top:0;
    margin-bottom:.5rem
}
h5{
    margin-top:0;
    margin-bottom:.5rem
}
p{
    margin-top:0;
    margin-bottom:1rem
}
ul{
    margin-top:0;
    margin-bottom:1rem
}
ul ul{
    margin-bottom:0
}
b{
    font-weight:bolder
}
a{
    color:#007bff;
    text-decoration:none;
    background-color:transparent
}
a:hover{
    color:#0056b3;
    text-decoration:underline
}
a:not([href]):not([tabindex]){
    color:inherit;
    text-decoration:none
}
a:not([href]):not([tabindex]):hover{
    color:inherit;
    text-decoration:none
}
a:not([href]):not([tabindex]):focus{
    color:inherit;
    text-decoration:none;
    outline:0
}
img{
    vertical-align:middle;
    border-style:none
}
label{
    display:inline-block;
    margin-bottom:.5rem
}
button{
    border-radius:0;
    font-family:inherit;
    font-size:inherit;
    line-height:inherit;
    overflow:visible;
    text-transform:none;
    -webkit-appearance:button;
    margin:0
}
button:focus{
    outline:1px dotted;
    outline:5px auto -webkit-focus-ring-color
}
input{
    font-family:inherit;
    font-size:inherit;
    line-height:inherit;
    overflow:visible;
    margin:0
}
textarea{
    font-family:inherit;
    font-size:inherit;
    line-height:inherit;
    overflow:auto;
    resize:vertical;
    margin:0
}
[type="button"]{
    -webkit-appearance:button
}
[type="submit"]{
    -webkit-appearance:button
}
button:not(:disabled){
    cursor:pointer
}
[type="button"]:not(:disabled){
    cursor:pointer
}
[type="reset"]:not(:disabled){
    cursor:pointer
}
[type="submit"]:not(:disabled){
    cursor:pointer
}
button::-moz-focus-inner{
    border-style:none;
    padding:0
}
[type="button"]::-moz-focus-inner{
    border-style:none;
    padding:0
}
[type="submit"]::-moz-focus-inner{
    border-style:none;
    padding:0
}
input[type="radio"]{
    box-sizing:border-box;
    padding:0
}
input[type="checkbox"]{
    box-sizing:border-box;
    padding:0
}
::-webkit-file-upload-button{
    font:inherit;
    -webkit-appearance:button
}
:root{
    --blue:#007bff;
    --indigo:#6610f2;
    --purple:#6f42c1;
    --pink:#e83e8c;
    --red:#dc3545;
    --orange:#fd7e14;
    --yellow:#ffc107;
    --green:#28a745;
    --teal:#20c997;
    --cyan:#17a2b8;
    --white:#fff;
    --gray:#6c757d;
    --gray-dark:#343a40;
    --primary:#007bff;
    --secondary:#6c757d;
    --success:#28a745;
    --info:#17a2b8;
    --warning:#ffc107;
    --danger:#dc3545;
    --light:#f8f9fa;
    --dark:#343a40;
    --breakpoint-xs:0;
    --breakpoint-sm:576px;
    --breakpoint-md:768px;
    --breakpoint-lg:992px;
    --breakpoint-xl:1200px;
    --font-family-sans-serif:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-family-monospace:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace
}
*{
    box-sizing:border-box
}
::before{
    box-sizing:border-box
}
::after{
    box-sizing:border-box
}
html{
    font-family:sans-serif;
    line-height:1.15;
    -webkit-text-size-adjust:100%;
    -webkit-tap-highlight-color:rgba(0,0,0,0)
}
figure{
    display:block;
    margin:0
}
footer{
    display:block
}
body{
    margin:0;
    font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size:1rem;
    font-weight:400;
    line-height:1.5;
    color:#212529;
    text-align:left;
    background-color:#fff
}
[tabindex="-1"]:focus{
    outline:0!important
}
h1{
    margin-top:0;
    margin-bottom:.5rem;
    font-weight:500;
    line-height:1.2;
    font-size:2.5rem
}
h4{
    margin-top:0;
    margin-bottom:.5rem;
    font-weight:500;
    line-height:1.2;
    font-size:1.5rem
}
h5{
    margin-top:0;
    margin-bottom:.5rem;
    font-weight:500;
    line-height:1.2;
    font-size:1.25rem
}
p{
    margin-top:0;
    margin-bottom:1rem
}
ul{
    margin-top:0;
    margin-bottom:1rem
}
ul ul{
    margin-bottom:0
}
b{
    font-weight:bolder
}
a{
    color:#007bff;
    text-decoration:none;
    background-color:transparent
}
a:hover{
    color:#0056b3;
    text-decoration:underline
}
a:not([href]):not([tabindex]){
    color:inherit;
    text-decoration:none
}
a:not([href]):not([tabindex]):hover{
    color:inherit;
    text-decoration:none
}
a:not([href]):not([tabindex]):focus{
    color:inherit;
    text-decoration:none;
    outline:0
}
img{
    vertical-align:middle;
    border-style:none
}
label{
    display:inline-block;
    margin-bottom:.5rem
}
button{
    border-radius:0;
    font-family:inherit;
    font-size:inherit;
    line-height:inherit;
    overflow:visible;
    text-transform:none;
    -webkit-appearance:button;
    margin:0
}
button:focus{
    outline:1px dotted;
    outline:5px auto -webkit-focus-ring-color
}
input{
    font-family:inherit;
    font-size:inherit;
    line-height:inherit;
    overflow:visible;
    margin:0
}
textarea{
    font-family:inherit;
    font-size:inherit;
    line-height:inherit;
    overflow:auto;
    resize:vertical;
    margin:0
}
[type="button"]{
    -webkit-appearance:button
}
[type="submit"]{
    -webkit-appearance:button
}
button:not(:disabled){
    cursor:pointer
}
[type="button"]:not(:disabled){
    cursor:pointer
}
[type="reset"]:not(:disabled){
    cursor:pointer
}
[type="submit"]:not(:disabled){
    cursor:pointer
}
button::-moz-focus-inner{
    border-style:none;
    padding:0
}
[type="button"]::-moz-focus-inner{
    border-style:none;
    padding:0
}
[type="submit"]::-moz-focus-inner{
    border-style:none;
    padding:0
}
input[type="radio"]{
    box-sizing:border-box;
    padding:0
}
input[type="checkbox"]{
    box-sizing:border-box;
    padding:0
}
::-webkit-file-upload-button{
    font:inherit;
    -webkit-appearance:button
}
.container{
    width:100%;
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto
}
@media (min-width: 576px){
    .container{
        max-width:540px
    }
}
@media (min-width: 768px){
    .container{
        max-width:720px
    }
}
@media (min-width: 992px){
    .container{
        max-width:960px
    }
}
@media (min-width: 1200px){
    .container{
        max-width:1140px
    }
}
.container-fluid{
    width:100%;
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto
}
.row{
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    margin-right:-15px;
    margin-left:-15px
}
.col-md-12{
    position:relative;
    width:100%;
    padding-right:15px;
    padding-left:15px
}
@media (min-width: 768px){
    .col-md-12{
        -ms-flex:0 0 100%;
        flex:0 0 100%;
        max-width:100%
    }
}
.form-control{
    display:block;
    width:100%;
    height:calc(1.5em + 0.75rem + 2px);
    padding:.375rem .75rem;
    font-size:1rem;
    font-weight:400;
    line-height:1.5;
    color:#495057;
    background-color:#fff;
    background-clip:padding-box;
    border:1px solid #ced4da;
    border-radius:.25rem;
    transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out
}
@media (prefers-reduced-motion: reduce){
    .form-control{
        transition:none
    }
}
.form-control::-ms-expand{
    background-color:transparent;
    border:0
}
.form-control:focus{
    color:#495057;
    background-color:#fff;
    border-color:#80bdff;
    outline:0;
    box-shadow:0 0 0 .2rem rgba(0,123,255,0.25)
}
.form-control::-webkit-input-placeholder{
    color:#6c757d;
    opacity:1
}
.form-control::-moz-placeholder{
    color:#6c757d;
    opacity:1
}
.form-control:-ms-input-placeholder{
    color:#6c757d;
    opacity:1
}
.form-control::-ms-input-placeholder{
    color:#6c757d;
    opacity:1
}
.form-control:disabled{
    background-color:#e9ecef;
    opacity:1
}
textarea.form-control{
    height:auto
}
.form-group{
    margin-bottom:1rem
}
.was-validated .custom-control-input:valid:focus:not(:checked) ~ .custom-control-label::before{
    border-color:#28a745
}
.custom-control-input.is-valid:focus:not(:checked) ~ .custom-control-label::before{
    border-color:#28a745
}
.was-validated .custom-control-input:invalid:focus:not(:checked) ~ .custom-control-label::before{
    border-color:#dc3545
}
.custom-control-input.is-invalid:focus:not(:checked) ~ .custom-control-label::before{
    border-color:#dc3545
}
.btn{
    display:inline-block;
    font-weight:400;
    color:#212529;
    text-align:center;
    vertical-align:middle;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    background-color:transparent;
    border:1px solid transparent;
    padding:.375rem .75rem;
    font-size:1rem;
    line-height:1.5;
    border-radius:.25rem;
    transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
}
@media (prefers-reduced-motion: reduce){
    .btn{
        transition:none
    }
}
.btn:hover{
    color:#212529;
    text-decoration:none
}
.btn:focus{
    outline:0;
    box-shadow:0 0 0 .2rem rgba(0,123,255,0.25)
}
.btn:disabled{
    opacity:.65
}
.btn-primary{
    color:#fff;
    background-color:#007bff;
    border-color:#007bff
}
.btn-primary:hover{
    color:#fff;
    background-color:#0069d9;
    border-color:#0062cc
}
.btn-primary:focus{
    box-shadow:0 0 0 .2rem rgba(38,143,255,0.5)
}
.btn-primary:disabled{
    color:#fff;
    background-color:#007bff;
    border-color:#007bff
}
.btn-primary:not(:disabled):not(.disabled):active{
    color:#fff;
    background-color:#0062cc;
    border-color:#005cbf
}
.btn-primary:not(:disabled):not(.disabled).active{
    color:#fff;
    background-color:#0062cc;
    border-color:#005cbf
}
.btn-primary:not(:disabled):not(.disabled):active:focus{
    box-shadow:0 0 0 .2rem rgba(38,143,255,0.5)
}
.btn-primary:not(:disabled):not(.disabled).active:focus{
    box-shadow:0 0 0 .2rem rgba(38,143,255,0.5)
}
.btn-secondary:not(:disabled):not(.disabled):active{
    color:#fff;
    background-color:#545b62;
    border-color:#4e555b
}
.btn-secondary:not(:disabled):not(.disabled).active{
    color:#fff;
    background-color:#545b62;
    border-color:#4e555b
}
.btn-secondary:not(:disabled):not(.disabled):active:focus{
    box-shadow:0 0 0 .2rem rgba(130,138,145,0.5)
}
.btn-secondary:not(:disabled):not(.disabled).active:focus{
    box-shadow:0 0 0 .2rem rgba(130,138,145,0.5)
}
.btn-success:not(:disabled):not(.disabled):active{
    color:#fff;
    background-color:#1e7e34;
    border-color:#1c7430
}
.btn-success:not(:disabled):not(.disabled).active{
    color:#fff;
    background-color:#1e7e34;
    border-color:#1c7430
}
.btn-success:not(:disabled):not(.disabled):active:focus{
    box-shadow:0 0 0 .2rem rgba(72,180,97,0.5)
}
.btn-success:not(:disabled):not(.disabled).active:focus{
    box-shadow:0 0 0 .2rem rgba(72,180,97,0.5)
}
.btn-info:not(:disabled):not(.disabled):active{
    color:#fff;
    background-color:#117a8b;
    border-color:#10707f
}
.btn-info:not(:disabled):not(.disabled).active{
    color:#fff;
    background-color:#117a8b;
    border-color:#10707f
}
.btn-info:not(:disabled):not(.disabled):active:focus{
    box-shadow:0 0 0 .2rem rgba(58,176,195,0.5)
}
.btn-info:not(:disabled):not(.disabled).active:focus{
    box-shadow:0 0 0 .2rem rgba(58,176,195,0.5)
}
.btn-warning:not(:disabled):not(.disabled):active{
    color:#212529;
    background-color:#d39e00;
    border-color:#c69500
}
.btn-warning:not(:disabled):not(.disabled).active{
    color:#212529;
    background-color:#d39e00;
    border-color:#c69500
}
.btn-warning:not(:disabled):not(.disabled):active:focus{
    box-shadow:0 0 0 .2rem rgba(222,170,12,0.5)
}
.btn-warning:not(:disabled):not(.disabled).active:focus{
    box-shadow:0 0 0 .2rem rgba(222,170,12,0.5)
}
.btn-danger:not(:disabled):not(.disabled):active{
    color:#fff;
    background-color:#bd2130;
    border-color:#b21f2d
}
.btn-danger:not(:disabled):not(.disabled).active{
    color:#fff;
    background-color:#bd2130;
    border-color:#b21f2d
}
.btn-danger:not(:disabled):not(.disabled):active:focus{
    box-shadow:0 0 0 .2rem rgba(225,83,97,0.5)
}
.btn-danger:not(:disabled):not(.disabled).active:focus{
    box-shadow:0 0 0 .2rem rgba(225,83,97,0.5)
}
.btn-light{
    color:#212529;
    background-color:#f8f9fa;
    border-color:#f8f9fa
}
.btn-light:hover{
    color:#212529;
    background-color:#e2e6ea;
    border-color:#dae0e5
}
.btn-light:focus{
    box-shadow:0 0 0 .2rem rgba(216,217,219,0.5)
}
.btn-light:disabled{
    color:#212529;
    background-color:#f8f9fa;
    border-color:#f8f9fa
}
.btn-light:not(:disabled):not(.disabled):active{
    color:#212529;
    background-color:#dae0e5;
    border-color:#d3d9df
}
.btn-light:not(:disabled):not(.disabled).active{
    color:#212529;
    background-color:#dae0e5;
    border-color:#d3d9df
}
.btn-light:not(:disabled):not(.disabled):active:focus{
    box-shadow:0 0 0 .2rem rgba(216,217,219,0.5)
}
.btn-light:not(:disabled):not(.disabled).active:focus{
    box-shadow:0 0 0 .2rem rgba(216,217,219,0.5)
}
.btn-dark:not(:disabled):not(.disabled):active{
    color:#fff;
    background-color:#1d2124;
    border-color:#171a1d
}
.btn-dark:not(:disabled):not(.disabled).active{
    color:#fff;
    background-color:#1d2124;
    border-color:#171a1d
}
.btn-dark:not(:disabled):not(.disabled):active:focus{
    box-shadow:0 0 0 .2rem rgba(82,88,93,0.5)
}
.btn-dark:not(:disabled):not(.disabled).active:focus{
    box-shadow:0 0 0 .2rem rgba(82,88,93,0.5)
}
.btn-outline-primary:not(:disabled):not(.disabled):active{
    color:#fff;
    background-color:#007bff;
    border-color:#007bff
}
.btn-outline-primary:not(:disabled):not(.disabled).active{
    color:#fff;
    background-color:#007bff;
    border-color:#007bff
}
.btn-outline-primary:not(:disabled):not(.disabled):active:focus{
    box-shadow:0 0 0 .2rem rgba(0,123,255,0.5)
}
.btn-outline-primary:not(:disabled):not(.disabled).active:focus{
    box-shadow:0 0 0 .2rem rgba(0,123,255,0.5)
}
.btn-outline-secondary:not(:disabled):not(.disabled):active{
    color:#fff;
    background-color:#6c757d;
    border-color:#6c757d
}
.btn-outline-secondary:not(:disabled):not(.disabled).active{
    color:#fff;
    background-color:#6c757d;
    border-color:#6c757d
}
.btn-outline-secondary:not(:disabled):not(.disabled):active:focus{
    box-shadow:0 0 0 .2rem rgba(108,117,125,0.5)
}
.btn-outline-secondary:not(:disabled):not(.disabled).active:focus{
    box-shadow:0 0 0 .2rem rgba(108,117,125,0.5)
}
.btn-outline-success:not(:disabled):not(.disabled):active{
    color:#fff;
    background-color:#28a745;
    border-color:#28a745
}
.btn-outline-success:not(:disabled):not(.disabled).active{
    color:#fff;
    background-color:#28a745;
    border-color:#28a745
}
.btn-outline-success:not(:disabled):not(.disabled):active:focus{
    box-shadow:0 0 0 .2rem rgba(40,167,69,0.5)
}
.btn-outline-success:not(:disabled):not(.disabled).active:focus{
    box-shadow:0 0 0 .2rem rgba(40,167,69,0.5)
}
.btn-outline-info:not(:disabled):not(.disabled):active{
    color:#fff;
    background-color:#17a2b8;
    border-color:#17a2b8
}
.btn-outline-info:not(:disabled):not(.disabled).active{
    color:#fff;
    background-color:#17a2b8;
    border-color:#17a2b8
}
.btn-outline-info:not(:disabled):not(.disabled):active:focus{
    box-shadow:0 0 0 .2rem rgba(23,162,184,0.5)
}
.btn-outline-info:not(:disabled):not(.disabled).active:focus{
    box-shadow:0 0 0 .2rem rgba(23,162,184,0.5)
}
.btn-outline-warning:not(:disabled):not(.disabled):active{
    color:#212529;
    background-color:#ffc107;
    border-color:#ffc107
}
.btn-outline-warning:not(:disabled):not(.disabled).active{
    color:#212529;
    background-color:#ffc107;
    border-color:#ffc107
}
.btn-outline-warning:not(:disabled):not(.disabled):active:focus{
    box-shadow:0 0 0 .2rem rgba(255,193,7,0.5)
}
.btn-outline-warning:not(:disabled):not(.disabled).active:focus{
    box-shadow:0 0 0 .2rem rgba(255,193,7,0.5)
}
.btn-outline-danger:not(:disabled):not(.disabled):active{
    color:#fff;
    background-color:#dc3545;
    border-color:#dc3545
}
.btn-outline-danger:not(:disabled):not(.disabled).active{
    color:#fff;
    background-color:#dc3545;
    border-color:#dc3545
}
.btn-outline-danger:not(:disabled):not(.disabled):active:focus{
    box-shadow:0 0 0 .2rem rgba(220,53,69,0.5)
}
.btn-outline-danger:not(:disabled):not(.disabled).active:focus{
    box-shadow:0 0 0 .2rem rgba(220,53,69,0.5)
}
.btn-outline-light:not(:disabled):not(.disabled):active{
    color:#212529;
    background-color:#f8f9fa;
    border-color:#f8f9fa
}
.btn-outline-light:not(:disabled):not(.disabled).active{
    color:#212529;
    background-color:#f8f9fa;
    border-color:#f8f9fa
}
.btn-outline-light:not(:disabled):not(.disabled):active:focus{
    box-shadow:0 0 0 .2rem rgba(248,249,250,0.5)
}
.btn-outline-light:not(:disabled):not(.disabled).active:focus{
    box-shadow:0 0 0 .2rem rgba(248,249,250,0.5)
}
.btn-outline-dark:not(:disabled):not(.disabled):active{
    color:#fff;
    background-color:#343a40;
    border-color:#343a40
}
.btn-outline-dark:not(:disabled):not(.disabled).active{
    color:#fff;
    background-color:#343a40;
    border-color:#343a40
}
.btn-outline-dark:not(:disabled):not(.disabled):active:focus{
    box-shadow:0 0 0 .2rem rgba(52,58,64,0.5)
}
.btn-outline-dark:not(:disabled):not(.disabled).active:focus{
    box-shadow:0 0 0 .2rem rgba(52,58,64,0.5)
}
.btn-link{
    font-weight:400;
    color:#007bff;
    text-decoration:none
}
.btn-link:hover{
    color:#0056b3;
    text-decoration:underline
}
.btn-link:focus{
    text-decoration:underline;
    box-shadow:none
}
.btn-link:disabled{
    color:#6c757d;
    pointer-events:none
}
.btn-lg{
    font-size:1.25rem;
    line-height:1.5;
    border-radius:.3rem;
    padding:.5rem 1rem
}
.btn-sm{
    font-size:.875rem;
    line-height:1.5;
    border-radius:.2rem;
    padding:.25rem .5rem
}
.btn-block{
    display:block;
    width:100%
}
.fade{
    transition:opacity .15s linear
}
@media (prefers-reduced-motion: reduce){
    .fade{
        transition:none
    }
}
.fade:not(.show){
    opacity:0
}
.dropdown-menu{
    position:absolute;
    top:100%;
    left:0;
    z-index:1000;
    display:none;
    float:left;
    min-width:10rem;
    padding:.5rem 0;
    margin:.125rem 0 0;
    font-size:1rem;
    color:#212529;
    text-align:left;
    list-style:none;
    background-color:#fff;
    background-clip:padding-box;
    border:1px solid rgba(0,0,0,0.15);
    border-radius:.25rem
}
.dropdown-menu-right{
    right:0;
    left:auto
}
.dropdown-item{
    display:block;
    width:100%;
    padding:.25rem 1.5rem;
    clear:both;
    font-weight:400;
    color:#212529;
    text-align:inherit;
    white-space:nowrap;
    background-color:transparent;
    border:0
}
.dropdown-item:hover{
    color:#16181b;
    text-decoration:none;
    background-color:#f8f9fa
}
.dropdown-item:focus{
    color:#16181b;
    text-decoration:none;
    background-color:#f8f9fa
}
.dropdown-item:active{
    color:#fff;
    text-decoration:none;
    background-color:#007bff
}
.dropdown-item:disabled{
    color:#6c757d;
    pointer-events:none;
    background-color:transparent
}
.input-group{
    position:relative;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    -ms-flex-align:stretch;
    align-items:stretch;
    width:100%
}
.input-group > .form-control{
    position:relative;
    -ms-flex:1 1 auto;
    flex:1 1 auto;
    width:1%;
    margin-bottom:0
}
.input-group > .form-control:focus{
    z-index:3
}
.input-group > .form-control:not(:last-child){
    border-top-right-radius:0;
    border-bottom-right-radius:0
}
.input-group-append{
    display:-ms-flexbox;
    display:flex;
    margin-left:-1px
}
.input-group-append .btn{
    position:relative;
    z-index:2
}
.input-group-append .btn:focus{
    z-index:3
}
.input-group > .input-group-append > .btn{
    border-top-left-radius:0;
    border-bottom-left-radius:0
}
.custom-control-input:focus:not(:checked) ~ .custom-control-label::before{
    border-color:#80bdff
}
.custom-control-input:not(:disabled):active ~ .custom-control-label::before{
    color:#fff;
    background-color:#b3d7ff;
    border-color:#b3d7ff
}
.nav{
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    padding-left:0;
    margin-bottom:0;
    list-style:none
}
.nav-justified .nav-item{
    -ms-flex-preferred-size:0;
    flex-basis:0;
    -ms-flex-positive:1;
    flex-grow:1;
    text-align:center
}
.alert{
    position:relative;
    padding:.75rem 1.25rem;
    margin-bottom:1rem;
    border:1px solid transparent;
    border-radius:.25rem
}
.alert-success{
    color:#155724;
    background-color:#d4edda;
    border-color:#c3e6cb
}
.close{
    float:right;
    font-size:1.5rem;
    font-weight:700;
    line-height:1;
    color:#000;
    text-shadow:0 1px 0 #fff;
    opacity:.5
}
.close:hover{
    color:#000;
    text-decoration:none
}
.close:not(:disabled):not(.disabled):hover{
    opacity:.75
}
.close:not(:disabled):not(.disabled):focus{
    opacity:.75
}
button.close{
    padding:0;
    background-color:transparent;
    border:0;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none
}
.modal{
    position:fixed;
    top:0;
    left:0;
    z-index:1050;
    display:none;
    width:100%;
    height:100%;
    overflow:hidden;
    outline:0
}
.modal-dialog{
    position:relative;
    width:auto;
    margin:.5rem;
    pointer-events:none
}
.modal.fade .modal-dialog{
    transition:-webkit-transform .3s ease-out;
    transition:transform .3s ease-out;
    transition:transform .3s ease-out,-webkit-transform .3s ease-out;
    -webkit-transform:translate(0,-50px);
    transform:translate(0,-50px)
}
@media (prefers-reduced-motion: reduce){
    .modal.fade .modal-dialog{
        transition:none
    }
}
.modal-content{
    position:relative;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-direction:column;
    flex-direction:column;
    width:100%;
    pointer-events:auto;
    background-color:#fff;
    background-clip:padding-box;
    border:1px solid rgba(0,0,0,0.2);
    border-radius:.3rem;
    outline:0
}
.modal-header{
    display:-ms-flexbox;
    display:flex;
    -ms-flex-align:start;
    align-items:flex-start;
    -ms-flex-pack:justify;
    justify-content:space-between;
    padding:1rem;
    border-bottom:1px solid #dee2e6;
    border-top-left-radius:.3rem;
    border-top-right-radius:.3rem
}
.modal-header .close{
    padding:1rem;
    margin:-1rem -1rem -1rem auto
}
.modal-title{
    margin-bottom:0;
    line-height:1.5
}
.modal-body{
    position:relative;
    -ms-flex:1 1 auto;
    flex:1 1 auto;
    padding:1rem
}
.modal-footer{
    display:-ms-flexbox;
    display:flex;
    -ms-flex-align:center;
    align-items:center;
    -ms-flex-pack:end;
    justify-content:flex-end;
    padding:1rem;
    border-top:1px solid #dee2e6;
    border-bottom-right-radius:.3rem;
    border-bottom-left-radius:.3rem
}
.modal-footer > :not(:first-child){
    margin-left:.25rem
}
.modal-footer > :not(:last-child){
    margin-right:.25rem
}
@media (min-width: 576px){
    .modal-dialog{
        max-width:500px;
        margin:1.75rem auto
    }
}
@media (min-width: 992px){
    .modal-lg{
        max-width:800px
    }
}
50%{
    opacity:1
}
50%{
    opacity:1
}
.bg-light{
    background-color:#f8f9fa!important
}
.bg-white{
    background-color:#fff!important
}
.border{
    border:1px solid #dee2e6!important
}
.rounded-circle{
    border-radius:50%!important
}
.rounded-pill{
    border-radius:50rem!important
}
.d-none{
    display:none!important
}
.d-inline-block{
    display:inline-block!important
}
.d-block{
    display:block!important
}
.d-flex{
    display:-ms-flexbox!important;
    display:flex!important
}
.flex-nowrap{
    -ms-flex-wrap:nowrap!important;
    flex-wrap:nowrap!important
}
.justify-content-between{
    -ms-flex-pack:justify!important;
    justify-content:space-between!important
}
.align-items-end{
    -ms-flex-align:end!important;
    align-items:flex-end!important
}
.align-items-center{
    -ms-flex-align:center!important;
    align-items:center!important
}
.align-self-start{
    -ms-flex-item-align:start!important;
    align-self:flex-start!important
}
.align-self-end{
    -ms-flex-item-align:end!important;
    align-self:flex-end!important
}
.position-relative{
    position:relative!important
}
.position-fixed{
    position:fixed!important
}
.shadow-sm{
    box-shadow:0 .125rem .25rem rgba(0,0,0,0.075)!important
}
.m-0{
    margin:0!important
}
.mb-0{
    margin-bottom:0!important
}
.m-1{
    margin:.25rem!important
}
.mt-1{
    margin-top:.25rem!important
}
.mr-1{
    margin-right:.25rem!important
}
.mb-1{
    margin-bottom:.25rem!important
}
.mt-2{
    margin-top:.5rem!important
}
.mr-2{
    margin-right:.5rem!important
}
.mb-2{
    margin-bottom:.5rem!important
}
.ml-2{
    margin-left:.5rem!important
}
.mt-3{
    margin-top:1rem!important
}
.mr-3{
    margin-right:1rem!important
}
.mb-3{
    margin-bottom:1rem!important
}
.ml-3{
    margin-left:1rem!important
}
.mt-4{
    margin-top:1.5rem!important
}
.mb-4{
    margin-bottom:1.5rem!important
}
.ml-4{
    margin-left:1.5rem!important
}
.mb-5{
    margin-bottom:3rem!important
}
.p-0{
    padding:0!important
}
.pt-0{
    padding-top:0!important
}
.pr-0{
    padding-right:0!important
}
.pb-0{
    padding-bottom:0!important
}
.pl-0{
    padding-left:0!important
}
.pr-1{
    padding-right:.25rem!important
}
.pl-1{
    padding-left:.25rem!important
}
.p-2{
    padding:.5rem!important
}
.py-2{
    padding-top:.5rem!important;
    padding-bottom:.5rem!important
}
.pt-3{
    padding-top:1rem!important
}
.py-4{
    padding-top:1.5rem!important;
    padding-bottom:1.5rem!important
}
.mr-auto{
    margin-right:auto!important
}
.text-nowrap{
    white-space:nowrap!important
}
.text-truncate{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap
}
.text-left{
    text-align:left!important
}
.text-right{
    text-align:right!important
}
.text-center{
    text-align:center!important
}
.text-secondary{
    color:#6c757d!important
}
.text-dark{
    color:#343a40!important
}
a.text-dark:hover{
    color:#121416!important
}
a.text-dark:focus{
    color:#121416!important
}
.text-muted{
    color:#6c757d!important
}
@media print{
    *{
        text-shadow:none!important;
        box-shadow:none!important
    }
    ::before{
        text-shadow:none!important;
        box-shadow:none!important
    }
    ::after{
        text-shadow:none!important;
        box-shadow:none!important
    }
    a:not(.btn){
        text-decoration:underline
    }
    img{
        page-break-inside:avoid
    }
    p{
        orphans:3;
        widows:3
    }
    @page{
        size:a3
    }
    body{
        min-width:992px!important
    }
    .container{
        min-width:992px!important
    }
}
.ng-layout{
    margin:0 auto;
    padding:0
}
.ng-layout .d-flex-centered{
    justify-content:center
}
.ng-content{
    width:100%;
    background:#fff;
    justify-content:center;
    align-items:center
}
.ng-right-sidebar{
    -ms-flex:0 0 336px;
    flex:0 0 336px;
    width:336px
}
.pl-global{
    padding-left:15px
}
.pr-global{
    padding-right:15px
}
@media (min-width: 1052px){
    .ng-content{
        -ms-flex:0 0 680px;
        flex:0 0 680px;
        max-width:680px
    }
    .ng-right-sidebar.d-none{
        display:block!important;
        margin-left:25px
    }
    .pr-global{
        padding-right:0
    }
    .pl-global{
        padding-left:10px
    }
}
@media (min-width: 1100px){
    .ng-content{
        -ms-flex:0 0 728px;
        flex:0 0 728px;
        max-width:728px
    }
    .ng-right-sidebar.d-none{
        margin-left:1.5rem
    }
    .pl-global{
        padding-left:0
    }
}
@media (min-width: 1337px){
    .ng-content{
        max-width:900px
    }
    .ng-right-sidebar.d-none{
        display:block!important;
        margin-left:3rem
    }
}
@media (min-width: 1680px){
    .ng-layout{
        -ms-flex:0 0 1594px;
        flex:0 0 1594px
    }
    .ng-content{
        margin:0 30px
    }
}
.scrollbox{
    display:flex;
    flex-wrap:nowrap;
    overflow-x:auto;
    -webkit-overflow-scrolling:touch;
    -ms-overflow-style:-ms-autohiding-scrollbar;
    padding-left:15px;
    margin-left:-15px;
    margin-right:-15px;
    -ms-overflow-style:none;
    overflow:-moz-scrollbars-none;
    scrollbar-width:none
}
.scrollbox::-webkit-scrollbar{
    width:0;
    display:none
}
.scrollbox .item{
    flex:0 0 auto;
    position:relative;
    border-radius:6px;
    background-color:#fff;
    color:#000;
    vertical-align:top;
    white-space:normal
}
.scroll-tags .scrollbox .item{
    margin:0
}
.scroll-tags .scrollbox .btn{
    color:#555;
    background:#faf7ef
}
.scrollbox{
    display:flex;
    flex-wrap:nowrap;
    overflow-x:auto;
    -webkit-overflow-scrolling:touch;
    -ms-overflow-style:-ms-autohiding-scrollbar;
    padding-left:15px;
    margin-left:-15px;
    margin-right:-15px;
    -ms-overflow-style:none;
    overflow:-moz-scrollbars-none;
    scrollbar-width:none
}
.scrollbox::-webkit-scrollbar{
    width:0;
    display:none
}
.scrollbox .item{
    flex:0 0 auto;
    position:relative;
    border-radius:6px;
    background-color:#fff;
    color:#000;
    vertical-align:top;
    white-space:normal
}
.feed-topic-control{
    margin-left:auto;
    position:relative
}
.feed-topic-control .control-report i{
    font-size:.9rem;
    margin:3px 0 0 5px;
    vertical-align:top
}
.topic .post-author-details{
    font-size:1rem;
    margin:0 0 1.5rem
}
.topic .post-author-details .post-author-name{
    font-size:.9rem
}
.topic .btn-sub{
    margin-left:auto
}
.topic .post-details{
    font-size:.9rem
}
.topic h1{
    font-size:1.5rem;
    font-weight:500;
    line-height:32px
}
.topic .kf-post-title{
    font-size:1.5rem;
    font-weight:500;
    line-height:32px;
}
.topic .post-footer{
    margin:0 0 45px
}
.share-buttons i{
    font-size:1.1rem
}
.article-text-container p{
    margin:0;
    color:#4c4c4c
}
.topic figure{
    text-align:center
}
.marker-test{
    background:#424AF7;
    color:#fff
}
.markers-topic{
    text-transform:uppercase;
    font-size:.8rem;
    font-weight:600;
}
.marker-topic{
    width:40px;
    height:40px;
    border-radius:0;
    margin:0 8px 5px 0;
    color:#FFF
}
.marker-topic:hover{
    color:#fff
}
.text-test{
    color:#424AF7
}
.topic .post-author-avatar i{
    height:39px;
    width:39px;
    background-size:cover;
    background-position:center center;
    display:block
}
.topic .kf-friend-a{
    padding-top:8px;
    padding-bottom:8px;
    background:#FFC886;
    border-color:#FFC886
}
.topic .zoom{
    margin-left:-15px;
    margin-right:-15px
}
.topic img{
    margin: 8px auto;
    max-width:100%
}
.post-community-mobile{
    display:block
}
.post-community-desktop{
    display:none
}
@media (min-width: 576px){
    .article-text-container{
        font-size:1.1rem
    }
    .topic img{
        display:block
    }
}
@media (min-width: 768px){
    .post-community-desktop{
        display:inline-block
    }
    .post-community-mobile{
        display:none
    }
    .feed-topic-control{
        margin-left:0
    }
    .topic .btn-sub{
        margin:0
    }
    .topic .post-footer{
        border-color:#fff;
        margin-bottom:50px
    }
    .topic .share-buttons i{
        font-size:1.3rem!important
    }
    .topic .post-footer .btn{
        font-size:1.2rem
    }
    .topic .zoom{
        margin-left:0;
        margin-right:0
    }
    .topic .kf-post-title{
        font-size:36px;
        font-weight:500;
        line-height:1.3em;
        word-wrap:break-word
    }
}
.comment{
    position:relative;
    margin-bottom:1.3rem;
    border-bottom:0
}
.comment .avatar{
    display:inline-block;
    height:17px;
    width:17px;
    background-size:cover;
    background-position:center center
}
.comment-children .comment.mb-4{
    border-bottom:0;
    padding-bottom:0
}
.comment.mb-4{
    border-bottom:1px solid #dee2e6
}
.comment.mb-4:last-child{
    border-bottom:none
}
.comment .content img{
    text-align:center;
    display:block;
    margin:.5rem 0;
    max-width:450px
}
.comment.preview{
    margin-bottom:0!important
}
.smiles a{
    padding:5px;
    display:inline-block
}
.comment .comment-author{
    color:#ed3a4a!important
}
.navbars{
    margin-bottom:1rem;
    top:0;
    z-index:100;
    background:#fff
}
.navbar-lvl-1{
    margin:0;
    padding:0
}
.navbar-lvl-1 .btn{
    font-size:.6rem;
    color:#fff;
    text-transform:uppercase;
    font-weight:600;
    font-size:.7rem;
    background:#ED3A4A;
    margin:0;
    padding:9px 6px
}
.navbar-lvl-1-container{
    background:#ED3A4A
}
.navbar-lvl-1 .btn:hover{
    background:#D73240;
    text-decoration:none;
    border-radius:0
}
.navbar-lvl-1 .arrow{
    position:absolute;
    background:#fff;
    height:22px;
    width:22px;
    text-align:center;
    font-size:.8rem;
    padding:2px 0 0;
    top:7px;
    z-index:100;
    display:none
}
.navbar-lvl-1 .arrow.arrow-left{
    left:7px
}
.navbar-lvl-1 .arrow.arrow-right{
    right:7px
}
.navbar-lvl-1 .item.item-first{
    margin-left:10px
}
.navbar-lvl-2{
    justify-content:flex-start;
    width:100%
}
.navbar-lvl-2 .logo a{
    display:block;
    padding:9px 15px 8px
}
.navbar-lvl-2 .logo img{
    height:30px;
    width:30px
}
.navbar-lvl-2 .btn{
    color:#555;
    text-transform:uppercase;
    font-weight:600
}
.navbar-lvl-2 .btn:hover{
    text-decoration:none
}
.navbar-lvl-2 .btn.btn-link{
    color:#555
}
.navbar-lvl-2 .p-fal{
    font-size:1.1rem;
    background:#fff;
    padding:11px 15px
}
.navbar-lvl-2 .bars{
    text-align:left
}
.feed-menu{
    display:none;
    padding-left:7px
}
.feed-menu .btn{
    font-size:.8rem;
    padding:15px 4px
}
.feed-menu .item.menu-btn-create{
    display:none
}
@media (min-width: 576px){
    .navbar-lvl-1-container{
        display:-ms-flexbox!important;
        display:flex!important
    }
    .feed-menu{
        display:-ms-flexbox!important;
        display:flex!important;
        margin-right:auto
    }
    .feed-menu .item.menu-btn-create{
        display:inline-block
    }
}
@media (min-width: 768px){
    .navbar-lvl-1 .arrow{
        display:none
    }
    .navbar-lvl-1 .btn{
        font-size:.7rem
    }
    .navbar-lvl-2{
        margin-left:auto;
        margin-right:auto
    }
    .feed-menu .btn{
        font-size:.8rem;
        padding:15px .5rem
    }
    .navbar-lvl-2 .p-fal{
        font-size:1.3rem;
        padding:11px 17px
    }
    .navbars{
        margin-bottom:2rem
    }
    .navbar-lvl-1 .item.item-first{
        margin-left:0
    }
}
@media (min-width: 1337px){
    .navbar-lvl-1{
        margin:0 auto
    }
}
.ng-menu-adaptive{
    display:none;
    height:100%;
    position:fixed;
    background:#fff;
    z-index:1000;
    top:0;
    box-sizing:border-box;
    padding-top:0;
    padding-bottom:64px;
    min-height:100%;
    overflow-y:scroll;
    scrollbar-width:none;
    -ms-overflow-style:none;
    width:90%
}
.ng-menu-adaptive .nav-pills{
    margin:0 20px
}
.ng-menu-adaptive::-webkit-scrollbar{
    width:0
}
.ng-menu-adaptive .menu-close{
    position:absolute;
    right:10px;
    top:10px;
    color:#555;
    font-size:18px;
    padding:0 13px
}
.ng-menu-adaptive .logo{
    display:flex;
    flex-shrink:0;
    align-items:center;
    justify-content:space-between;
    height:44px;
    background-color:#f5f5f6;
    color:#333;
    padding-right:24px;
    padding-left:20px
}
.ng-menu-adaptive .logo img{
    width:130px;
    height:30px;
    padding:0
}
.ng-menu-adaptive .menu-chapter-header{
    padding:10px 22px 10px 24px;
    text-transform:uppercase;
    word-wrap:break-word;
    letter-spacing:.4px;
    font-size:11px;
    line-height:16px;
    display:flex;
    align-items:center;
    justify-content:flex-start;
    height:44px;
    border-bottom:1px solid #eaeaea;
    cursor:pointer;
    font-weight:700
}
.ng-menu-adaptive .menu-chapter-header .fal{
    margin:0 5px 0 0
}
.ng-menu-adaptive .menu-chapter-header .menu-chapter-arrow{
    margin-left:auto;
    font-size:14px
}
.ng-menu-adaptive .menu-chapter-container{
    display:none;
    cursor:pointer;
    padding:0 0 16px;
    border-bottom:1px solid #eaeaea
}
.ng-menu-adaptive .menu-chapter-container a{
    display:block
}
.ng-menu-adaptive .menu-chapter-item{
    display:block;
    box-sizing:border-box;
    display:flex;
    align-items:center;
    padding:12px 16px 10px 33px;
    height:36px;
    text-decoration:none;
    word-wrap:break-word;
    letter-spacing:inherit;
    font-size:13px;
    line-height:20px;
    color:#555
}
.ng-menu-adaptive .menu-footer{
    text-align:center;
    margin:20px 0 0
}
.ng-menu-adaptive .menu-footer a{
    align-items:center;
    padding:10px;
    height:36px;
    text-decoration:none;
    word-wrap:break-word;
    letter-spacing:inherit;
    font-size:13px;
    line-height:20px;
    color:#555
}
.ng-menu-adaptive .menu-btn-feed{
    text-transform:uppercase;
    font-weight:700;
    font-size:11px
}
.ng-menu-adaptive .menu-btn-create{
    margin:0 20px;
    text-transform:uppercase;
    font-weight:700;
    width:90%;
    font-size:11px
}
.ng-menu-adaptive .menu-search{
    margin:0 -1px;
    border-bottom:1px solid #eaeaea
}
.ng-menu-adaptive .menu-search .form-control{
    border:none;
    padding-left:21px;
    font-size:1rem
}
.ng-menu-adaptive .menu-search .btn{
    border:none;
    padding-right:23px
}
.ng-menu-adaptive .menu-search input::-webkit-input-placeholder{
    color:#999;
    font-size:13px
}
.ng-menu-adaptive .menu-search input::-moz-placeholder{
    color:#999;
    font-size:13px
}
.ng-menu-adaptive .menu-search input:-ms-input-placeholder{
    color:#999;
    font-size:13px
}
.nav-pills{
    margin-bottom:1.5rem
}
.nav-pills a{
    font-size:.8rem
}
.ng-menu-right{
    right:0
}
@media (min-width: 768px){
    .nav-pills{
        margin-bottom:2rem
    }
    .nav-pills a{
        font-size:.9rem
    }
    .ng-menu-adaptive{
        width:400px
    }
}
.ng-search-overlay{
    width:100%;
    position:absolute;
    height:100%;
    z-index:110;
    background-color:#fff;
    display:none;
    justify-content:center;
    top:84px
}
.ng-search-input{
    border-radius:0;
    width:100%;
    margin:0 auto;
    border:none;
    border-radius:0;
    border-top:1px solid #eaeaea;
    border-bottom:2px solid #eaeaea;
    font-size:1rem
}
.ng-search-input:focus{
    border-left:none!important;
    border-right:none!important
}
.ng-search-container{
    top:0;
    margin:0 auto;
    width:100%;
    z-index:10;
    height:100%;
    position:absolute;
    display:flex
}
.ng-search-result-container{
    top:43px;
    width:100%;
    z-index:10;
    background-color:#fff;
    overflow:hidden;
    padding:20px 15px;
    display:none;
    position:relative
}
.btn-search-close{
    position:absolute;
    background:none;
    border:none;
    z-index:30;
    right:5px;
    top:0;
    z-index:20000;
    font-size:1.1rem;
    color:#555
}
.btn-search-close i{
    color:#555
}
.ng-search-result-scroller{
    overflow-y:scroll;
    -ms-overflow-style:none;
    overflow:-moz-scrollbars-none;
    scrollbar-width:none
}
.ng-search-result-scroller::-webkit-scrollbar{
    width:0;
    display:none
}
@media (min-width: 576px){
    .ng-search-overlay{
        top:75px;
        background:#fff
    }
    .ng-search-input{
        font-size:1.1rem
    }
    .ng-search-result-container{
        top:65px
    }
    .btn-search-close{
        font-size:1.4rem
    }
    .btn-search-close i{
        color:#999
    }
}
@media (min-width: 768px){
    .ng-search-overlay{
        top:77px
    }
    .ng-search-input{
        font-size:1.2rem;
        width:600px;
        margin:14px auto 0;
        border:1px solid #eaeaea;
        font-size:1.2rem;
        border-radius:4px
    }
    .ng-search-result-container{
        width:600px;
        padding:20px 20px 50px
    }
    .btn-search-close{
        right:5px;
        top:4px;
        font-size:2rem;
        color:#fff
    }
}
.sm{
    background-image:url(https://kosmetista.ru/templates/skin/phoenix/i/sprites-14.png);
    background-size:390px 195px;
    display:inline-block
}
.sm-smile{
    width:25px;
    height:21px;
    background-position:-3px -59px
}
.sm-wink{
    width:25px;
    height:21px;
    background-position:-32px -59px;
    width:24px
}
.sm-sad{
    width:25px;
    height:21px;
    background-position:-60px -59px
}
.sm-rofl{
    width:25px;
    height:21px;
    background-position:-88px -59px
}
.sm-tongue{
    width:25px;
    height:21px;
    background-position:-116px -59px
}
.sm-grin{
    width:25px;
    height:21px;
    background-position:-144px -59px
}
.sm-crying{
    width:25px;
    height:21px;
    background-position:-172px -59px
}
.sm-blush{
    width:25px;
    height:21px;
    background-position:-201px -59px
}
.sm-sarcastic{
    width:25px;
    height:21px;
    background-position:-229px -59px
}
.sm-scream{
    width:25px;
    height:21px;
    background-position:-258px -59px;
    width:24px
}
.sm-ambivalent{
    width:25px;
    height:21px;
    background-position:-286px -59px
}
.sm-kiss{
    width:25px;
    height:21px;
    background-position:-314px -59px
}
.sm-yum{
    width:25px;
    height:21px;
    background-position:-32px -89px
}
.sm-shocked{
    width:25px;
    height:21px;
    background-position:-4px -89px
}
.sm-crazy{
    width:25px;
    height:21px;
    background-position:-60px -89px;
    height:23px
}
.sm-spy{
    width:25px;
    height:21px;
    background-position:-89px -89px
}
.sm-clever{
    width:25px;
    height:21px;
    background-position:-118px -89px
}
.sm-inhypnose{
    width:25px;
    height:21px;
    background-position:-146px -89px;
    width:26px
}
.sm-inlove{
    width:25px;
    height:21px;
    background-position:-175px -89px;
    width:26px
}
.sm-frown{
    width:25px;
    height:21px;
    background-position:-342px -59px
}
.sm-devil{
    background-position:-3px -119px;
    width:26px;
    height:24px
}
.sm-sick{
    background-position:-32px -119px;
    width:26px;
    height:24px
}
.sm-veryangry{
    background-position:-60px -119px;
    width:26px;
    height:24px
}
.sm-angry{
    background-position:-89px -119px;
    width:26px;
    height:24px
}
.sm-pirate{
    background-position:-117px -119px;
    width:27px;
    height:24px
}
.sm-attention{
    background-position:-146px -119px;
    width:27px;
    height:24px
}
.sm-angel{
    background-position:-176px -119px;
    width:39px;
    height:23px
}
.sm-money{
    background-position:-220px -119px;
    width:24px;
    height:23px
}
.sm-silent{
    background-position:-248px -119px;
    width:24px;
    height:23px
}
.sm-thumb-up{
    background-position:-298px -119px;
    width:18px;
    height:23px
}
.sm-thumb-down{
    background-position:-276px -119px;
    width:18px;
    height:23px
}
.sm-regret{
    background-position:-320px -119px;
    width:24px;
    height:23px
}
body{
    background:#eee
}
100%{
    -webkit-transform:scale(1.0);
    opacity:0;
    -webkit-transform:scale(1.0);
    transform:scale(1.0);
    opacity:0
}
.b-loader-background{
    background-color:#000;
    background-image:-webkit-gradient(radial,50% 50%,0,50% 50%,650,from(rgba(0,0,0,0)),to(rgba(0,0,0,1)));
    background-image:-webkit-radial-gradient(#ffffff,#000000);
    background-image:-moz-radial-gradient(#ffffff,#000000);
    background-image:-ms-radial-gradient(#ffffff,#000000);
    opacity:.2;
    filter:alpha(opacity = 20);
    position:fixed!important;
    zoom:1;
    left:0;
    top:0;
    position:absolute;
    width:100%;
    height:100%;
    z-index:100000
}
.b-loader-window{
    position:absolute;
    top:50%;
    left:50%;
    width:180px;
    margin:-50px 0 0 -125px;
    border:1px solid #bbb;
    font-weight:700;
    z-index:100251;
    font-size:13px;
    color:#555;
    text-shadow:0 1px 0 #fff;
    padding:25px 25px 25px 50px;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -khtml-border-radius:5px;
    background:#fcfaf4 url(https://kosmetista.ru/templates/skin/phoenix/i/loader.gif) 26px 26px no-repeat;
    border:1px solid #b6b7b7;
    box-shadow:0 0 30px rgba(0,0,0,0.2);
    -moz-box-shadow:0 0 30px rgba(0,0,0,0.2);
    -webkit-box-shadow:0 0 30px rgba(0,0,0,0.2)
}
.b-loader-body{
    left:0;
    top:0;
    position:fixed;
    width:100%;
    height:100%;
    z-index:250
}
body{
    background:#fff
}
body.fouc{
    display:block!important
}
h1{
    font-size:1.5rem;
    font-weight:500;
    line-height:32px
}
h4{
    font-size:1.3rem
}
.d-block{
    display:block
}
.no-hover:hover{
    text-decoration:none
}
.btn-light:not(:disabled):not(.disabled):active{
    background:#FFC886;
    border:1px solid #FFC886
}
.btn-light:not(:disabled):not(.disabled).active{
    background:#FFC886;
    border:1px solid #FFC886
}
a{
    color:#4287b7
}
.cursor-pointer{
    cursor:pointer
}
textarea:focus{
    box-shadow:inset 0 -1px 0 #ddd;
    border:1px solid #ced4da
}
textarea.form-control:focus{
    box-shadow:inset 0 -1px 0 #ddd;
    border:1px solid #ced4da
}
input.form-control:focus{
    box-shadow:inset 0 -1px 0 #ddd;
    border:1px solid #ced4da
}
input[type=text]:focus{
    box-shadow:inset 0 -1px 0 #ddd;
    border:1px solid #ced4da
}
input[type=password]:focus{
    box-shadow:inset 0 -1px 0 #ddd;
    border:1px solid #ced4da
}
input[type=email]:focus{
    box-shadow:inset 0 -1px 0 #ddd;
    border:1px solid #ced4da
}
[type=text].form-control:focus{
    box-shadow:inset 0 -1px 0 #ddd;
    border:1px solid #ced4da
}
[type=password].form-control:focus{
    box-shadow:inset 0 -1px 0 #ddd;
    border:1px solid #ced4da
}
[type=email].form-control:focus{
    box-shadow:inset 0 -1px 0 #ddd;
    border:1px solid #ced4da
}
.btn:focus{
    outline:none;
    box-shadow:none
}
.text-sm{
    font-size:.9rem
}
.text-bold{
    font-weight:700
}
.text-lgray{
    color:#999
}
.btn-light{
    background:#F7F7F7;
    border-color:#F7F7F7
}
.btn-circle{
    width:45px;
    height:45px;
    line-height:45px;
    text-align:center;
    padding:0;
    border-radius:50%
}
.btn-circle i{
    position:relative;
    top:-1px
}
.btn-circle-sm{
    width:35px;
    height:35px;
    line-height:35px;
    font-size:.9rem
}
.btn-link{
    color:#4287b7
}
.btn-light i{
    color:#555
}
.btn-red{
    background:#ed3a4a;
    color:#fff;
    border:1px solid #ed3a4a
}
.btn-red:hover{
    background:#ed3a4a;
    color:#fff;
    border:1px solid #ed3a4a
}
.btn-light-yellow{
    background:#FBF0DB;
    border:1px solid #FBF0DB
}
.help-buttons{
    position:fixed;
    right:32px;
    bottom:32px;
    z-index:100;
    width:48px;
    visibility:hidden
}
.lb-holder{
    position:fixed;
    top:0;
    display:none;
    z-index:9999
}
.lb-background{
    position:fixed;
    width:100%;
    height:100%;
    background-color:#000;
    opacity:.8;
    filter:alpha(opacity = 80);
    z-index:200;
    display:none;
    top:0;
    left:0
}
.text-vk{
    color:#5181B7
}
.text-fb{
    color:#456DB0
}
.text-pi{
    color:#E60022
}
.bg-ya{
    color:#fff;
    background:red
}
.bg-ya:hover{
    color:#fff;
    background:red
}
.bg-vk{
    color:#fff;
    background:#5181B7
}
.bg-vk:hover{
    color:#fff;
    background:#5181B7
}
.bg-fb{
    color:#fff;
    background:#456DB0
}
.bg-fb:hover{
    color:#fff;
    background:#456DB0
}
.bg-ok{
    color:#fff;
    background:#F7931F
}
.bg-ok:hover{
    color:#fff;
    background:#F7931F
}
.panel .btn{
    min-width:30px
}
.block{
    overflow:hidden;
    position:relative;
    margin-bottom:30px;
    background:#fff;
    padding:20px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-backface-visibility:hidden!important
}
.block .block-title{
    color:#555;
    font-size:22px;
    line-height:25px;
    margin:0 0 15px
}
@media (min-width: 768px){
    h1{
        font-size:36px;
        font-weight:500;
        line-height:1.3em;
        padding-left:0;
        padding-right:0
    }
    .help-buttons{
        visibility:visible
    }
}
@charset "UTF-8";
.fileinput-button{
    position:relative
}
.fileinput-button input{
    position:absolute;
    top:0;
    right:0;
    margin:0;
    opacity:0;
    filter:alpha(opacity=0);
    font-size:23px;
    direction:ltr;
    cursor:pointer;
    width:100%
}
.autocomplete-suggestions{
    position:absolute;
    z-index:50;
    padding:8px 0;
    list-style:none;
    border:1px solid #f2e3c6;
    text-align:left;
    background-color:#fbfaf2;
    color:#714a39;
    -webkit-border-radius:0 0 6px 6px;
    -moz-border-radius:0 0 6px 6px;
    border-radius:0 0 6px 6px
}
.topic.ql-postview .content ul{
    list-style:disc;
    margin:10px 0 0
}
.topic.ql-postview .content ul > li{
    color:#4c4c4c;
    margin:0 0 10px
}
@media (max-width: 768px){
    body{
        max-width:auto;
        min-width:auto
    }
}
.text-center{
    text-align:center
}
@media (min-width: 992px){
    .modal.modal-login-nextgen .modal-dialog{
        width:400px
    }
}
.col-md-12{
    padding-right:15px;
    padding-left:15px
}
.panel-body{
    padding:15px
}
.login-invite{
    margin-bottom:15px;
    color:#3c763d;
    background-color:#dff0d8;
    border-color:#d6e9c6;
    border-radius:4px;
    padding:6px
}
.display-none{
    display:none
}
.display-inline-block{
    display:inline-block
}
/* favicons */
/*! * Font Awesome Pro 5.12.0 by @fontawesome - https://fontawesome.com * License - https://fontawesome.com/license (Commercial License) */
.fab,.fal,.fas{
    -moz-osx-font-smoothing:grayscale;
    -webkit-font-smoothing:antialiased;
    display:inline-block;
    font-style:normal;
    font-variant:normal;
    text-rendering:auto;
    line-height:1
}
.fa-lg{
    font-size:1.33333em;
    line-height:.75em;
    vertical-align:-.0667em
}
.fa-arrow-up:before{
    content:"\f062"
}
.fa-ban:before{
    content:"\f05e"
}
.fa-bars:before{
    content:"\f0c9"
}
.fa-bold:before{
    content:"\f032"
}
.fa-chevron-down:before{
    content:"\f078"
}
.fa-chevron-left:before{
    content:"\f053"
}
.fa-chevron-right:before{
    content:"\f054"
}
.fa-comments:before{
    content:"\f086"
}
.fa-eye:before{
    content:"\f06e"
}
.fa-facebook-f:before{
    content:"\f39e"
}
.fa-facebook-square:before{
    content:"\f082"
}
.fa-film:before{
    content:"\f008"
}
.fa-gem:before{
    content:"\f3a5"
}
.fa-heart:before{
    content:"\f004"
}
.fa-image:before{
    content:"\f03e"
}
.fa-italic:before{
    content:"\f033"
}
.fa-odnoklassniki:before{
    content:"\f263"
}
.fa-pinterest-p:before{
    content:"\f231"
}
.fa-question-circle:before{
    content:"\f059"
}
.fa-search:before{
    content:"\f002"
}
.fa-smile:before{
    content:"\f118"
}
.fa-star:before{
    content:"\f005"
}
.fa-strikethrough:before{
    content:"\f0cc"
}
.fa-thumbs-down:before{
    content:"\f165"
}
.fa-times:before{
    content:"\f00d"
}
.fa-user:before{
    content:"\f007"
}
.fa-user-circle:before{
    content:"\f2bd"
}
.fa-vial:before{
    content:"\f492"
}
.fa-vk:before{
    content:"\f189"
}
.fa-yandex:before{
    content:"\f413"
}
.fas{
    font-family:"Font Awesome 5 Pro";
    font-weight:900
}
 .flexBox {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
}
 .flexBox .zoom:first-child {
     margin-right: 5px;
}
 .zakaz {
     background-color: #faf7ef;
     border-radius: 10px;
     border: 1px solid rgba(0, 0, 0, 0.08);
     padding-top: 5px;
     padding-bottom: 5px;
     margin-top: 20px;
     margin-bottom: 40px;
     text-align: center;
     font-size: 18px;
     font-weight: 400;
     cursor: pointer;
     transition: .3s;
}
 .zakaz:hover {
     background-color: #edffeb;
}
 .block-list_mt {
     margin-top: 110px;
}
 @media (max-width: 1051px) {
     .zoom img {
         margin-left: 0;
    }
}

.topic img.img-avatar {
    width: 37px;
    border-radius: 50%;
    margin: 4px 0 0;
}

.linked-products-title {
    margin-top: 16px;
}